Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Jinja2==3.1.2
MarkupSafe==2.1.2
PyJWT==2.6.0
PyMySQL==1.1.1
SQLAlchemy==2.0.36
Werkzeug==3.0.3
WTForms==3.2.1
python-dotenv==1.0.1
bcrypt==3.1.7
email_validator==2.2.0
pillow==11.0.0
requests==2.28.1
gunicorn==21.2.0
